html,
body {
  height: 100dvh;
}

body {
  background-image: url("/frontend/images/bg.jpg");
  background-size: cover;
  font-family: Robot, sans-serif;
  color: #263238;
}

.btn .fa-solid {
  font-size: 16px;
}

.nav-link .fa-solid {
  color: #009688;
}

.nav-link.active {
  color: #009688;
  border-bottom: 2px solid #455a64;
}

header .button {
  border: none;
  background: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
}

header .button .fa-solid {
  color: #009688;
}

footer {
  background-color: #263238;
  color: #ffffff;
}
