* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/frontend/images/bg7.jpg");
  background-size: cover;
  font-family: Robot, sans-serif;
  color: #263238;
}
.container {
  max-width: 400px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #90a4ae;
  border: 1px solid #607d8b;
  border-radius: 0.25rem 0 0 0.25rem;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #607d8b;
  border-radius: 0 0.25rem 0.25rem 0;
}

/* Set a style for the submit button */
.btn {
  background-color: #90a4ae;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 45%;
  opacity: 0.9;
  margin-left: 12px;
  font-weight: bold;
  border: 1px solid #607d8b;
  border-radius: 0.25rem;
  letter-spacing: 1;
}

.btn:hover {
  opacity: 1;
}

form {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 2rem;
  border-radius: 1rem;
}

form h2,
form h5 {
  margin: 0 0 2rem 0;
  color: #455a64;
  line-height: 1.5;
}
